Repository cdbao/goreal_nativewebapp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-admin, @backend-team, @api-team, @frontend-team, @ui-team, @database-team, @integrations-team, @devops-team, @qa-team, @documentation-team, @ci-team, @infrastructure-team, @security-team, @data-team, @analytics-team

.github/CODEOWNERS:

# GoREAL Project - Code Owners
# This file defines who owns and can review different parts of the codebase

# Global owners - these users will be requested for review on all PRs
* @repo-admin

# API and backend code
goreal/api/ @backend-team @api-team
goreal/core/ @backend-team @api-team

# Dashboard and frontend code
goreal/dashboard/ @frontend-team @ui-team

# Database code and migrations
database/ @database-team @backend-team
goreal/core/database.py @database-team
goreal/core/sheets_client.py @backend-team @integrations-team

# Configuration and settings
goreal/config/ @devops-team @backend-team

# Testing
tests/ @qa-team @backend-team
notebooks/api_testing/ @qa-team @api-team

# Documentation
docs/ @documentation-team
*.md @documentation-team
README.md @repo-admin @documentation-team

# CI/CD and DevOps
.github/ @devops-team @repo-admin
.github/workflows/ @devops-team @ci-team
Dockerfile* @devops-team @infrastructure-team
docker-compose* @devops-team @infrastructure-team
scripts/ @devops-team

# Dependencies and requirements
requirements*.txt @devops-team @backend-team
setup.py @devops-team @backend-team
Makefile @devops-team

# Security and configuration
.env.example @devops-team @security-team
.gitignore @devops-team

# Jupyter notebooks
notebooks/ @data-team @analytics-team
notebooks/data_analysis/ @data-team @analytics-team

# Sample data and database initialization
database/init/ @database-team @data-team
scripts/generate-sample-data.py @data-team @backend-team

# Project root files
pyproject.toml @devops-team @backend-team
.flake8 @devops-team @qa-team
.pre-commit-config.yaml @devops-team @qa-team

fix: Update CodeQL Action from deprecated v2 to v3
  .github/workflows/ci.yml
Owners: @devops-team, @ci-team

docs: Update README to reflect Firebase Native migration
  README.md
Owners: @repo-admin, @documentation-team

fix: Update deprecated artifact actions from v3 to v4
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @devops-team, @ci-team

fix: Resolve setuptools.build_meta backend unavailable error
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @devops-team, @ci-team

fix: Resolve workflow secrets context unavailable error
  .github/workflows/deploy.yml
Owners: @devops-team, @ci-team

fix: resolve CI/CD dependency installation failures
  .claude/settings.local.json
  .gitignore
  backend-functions/package-lock.json
  backend-functions/package.json
  deploy/monitoring/grafana-dashboards/goreal-overview.json
  frontend/firebase.json
  frontend/firestore.indexes.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/manifest.json
  frontend/tsconfig.json
  templates/project-templates/flask-api/template.json
  templates/project-templates/fullstack/template.json
  templates/project-templates/streamlit-dashboard/template.json
Owners: @repo-admin, @devops-team

style: format Python codebase with black formatter
  Makefile
  goreal-website/backend/config.py
  goreal-website/backend/main.py
  goreal/__init__.py
  goreal/api/__init__.py
  goreal/api/app.py
  goreal/api/routes.py
  goreal/config/__init__.py
  goreal/config/settings.py
  goreal/core/__init__.py
  goreal/core/database.py
  goreal/core/sheets_client.py
  goreal/core/validators.py
  goreal/dashboard/__init__.py
  goreal/dashboard/app.py
  goreal/dashboard/components.py
  goreal/dashboard/data_handlers.py
  scripts/create-project.py
  scripts/generate-sample-data.py
  scripts/run_api.py
  scripts/run_dashboard.py
  scripts/template-manager.py
  setup.py
  tests/__init__.py
  tests/conftest.py
  tests/integration/__init__.py
  tests/integration/test_database_integration.py
  tests/test_api_endpoints.py
  tests/test_validators.py
Owners: @devops-team, @repo-admin, @backend-team, @api-team, @database-team, @integrations-team, @frontend-team, @ui-team, @data-team, @qa-team

fix: resolve CI/CD test failures by fixing react-router-dom dependency
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
Owners: @repo-admin

fix: resolve flake8 configuration ValueError
  .flake8
Owners: @devops-team, @qa-team

fix: resolve GitHub Actions security scanning permissions error
  .github/workflows/ci.yml
Owners: @devops-team, @ci-team

fix: update Python dependencies for Python 3.12 compatibility
  requirements-dev.txt
  requirements.txt
Owners: @devops-team, @backend-team

feat: implement comprehensive automated CI/CD debugging system
  .github/debugging-system/README.md
  .github/debugging-system/ai-debugger.js
  .github/debugging-system/log-retriever.js
  .github/debugging-system/mock-test-file.py
  .github/debugging-system/package-lock.json
  .github/debugging-system/package.json
  .github/debugging-system/test-system.js
  .github/workflows/auto-fix.yml
  .github/workflows/debug-trigger.yml
Owners: @devops-team, @repo-admin, @ci-team

test: Add intentional flake8 errors to test autonomous debugging
  test-autonomous-loop.py
Owners: @repo-admin

fix: Complete autonomous debugging system implementation
  .github/debugging-system/ai-debugger.js
  .github/debugging-system/mock-test-file.py
  .github/debugging-system/test-report.json
  .github/debugging-system/test-system.js
Owners: @devops-team, @repo-admin

fix(ui): Resolve universal scrolling bug in Guild Selection screen
  .github/workflows/auto-fix.yml
  =69.5.1
  frontend/src/components/GuildSelection.css
  scrolling-test-plan.md
  validate-scrolling-fix.html
Owners: @devops-team, @ci-team, @repo-admin, @documentation-team

fix(ci): CRITICAL - Resolve universal CI/CD system failure
  .github/workflows/auto-fix.yml
Owners: @devops-team, @ci-team

Update App.tsx
  frontend/src/App.tsx
Owners: @repo-admin

Update CI/CD workflow and clean up backend structure
  .github/workflows/deploy.yml
  backend-functions/.gcloudignore
  backend-functions/index.js
  backend-functions/package-lock.json
  backend-functions/package.json
  ci-cd-restoration-report.md
Owners: @devops-team, @ci-team, @repo-admin, @documentation-team

fix(critical): Resolve PWA infinite update loop and FCM token error
  frontend/public/sw.js
  frontend/src/index.tsx
  frontend/src/services/pushNotificationService.ts
Owners: @repo-admin

fix(critical): Resolve PWA infinite update loop issue
  frontend/public/sw.js
  frontend/src/index.tsx
Owners: @repo-admin

Update index.html
  frontend/public/index.html
Owners: @repo-admin

🤖 Control Tower: DEFINITIVE SUCCESS: Complete Control Tower Victory
  claude_execution_success.txt
Owners: @repo-admin

🤖 Control Tower: Implement Real-time Log Streaming from Cloud Build to the Aethelgard Control Tower UI
  claude_execution_success.txt
Owners: @repo-admin

🤖 Control Tower: TEST: AI Simulation Approach Verification
  control_tower_success.txt
Owners: @repo-admin

🤖 Control Tower: REAL CLAUDE TEST: API Integration Verification
  claude_success.txt
Owners: @repo-admin

🤖 Control Tower: FINAL SUCCESS: Real Claude API Integration Complete
  claude_success.txt
Owners: @repo-admin

🤖 Control Tower: ULTIMATE: Claude Code Integration Victory
  claude_success.txt
Owners: @repo-admin

🤖 Control Tower: Overhaul PWA Update Mechanism and Add Conditional Admin Navigation Link
  claude_success.txt
Owners: @repo-admin

feat: implement mobile dashboard UI redesign
  frontend/src/components/Dashboard.css
  frontend/src/components/Dashboard.tsx
  frontend/src/components/MobileHeader.css
  frontend/src/components/MobileHeader.tsx
  frontend/src/components/MobileNavigation.css
  frontend/src/components/MobileNavigation.tsx
  frontend/src/hooks/useDashboardState.ts
Owners: @repo-admin

fix: resolve mobile notification display issues
  frontend/src/components/MobileHeader.css
  frontend/src/components/NotificationBell.css
  frontend/src/components/NotificationBell.tsx
Owners: @repo-admin
